---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About Me</title>
	</head>
	<body>
		<h1>About Me :)</h1>
    <p>
      Hi I'm Zohra or Kallen! Truthfully there's too many names to list but those are my most common. 
      Or maybe you know the deadname. Regardless, you can think of me as a majestic frog or a parasite.
    </p>
    <p>
      I created this page to track whatever things take my fancy lately. I used to avoid the obsessions,
      but then I realized how sad life is without them. So, here's a gallery to my mind and my hobbies.
      This is what I do instead of socializing and it is glorious.
    </p>
	</body>
</html>
