---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
const pageTitle = "Zohra's Obsessions";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>The Latest</h2>
</BaseLayout>