---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
const pageTitle = "Zohra's Obsessions";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>The Latest</h2>
  <h3>Monster Glossary</h3>
  <h3>The Nintendo Phone</h3>
  <h3>Pixel Art</h3>
</BaseLayout>