---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---

<header>
  <nav>
    <Hamburger />
    <Navigation />
    <!-- <Navigation link="/" value="Home" />
    <Navigation link="/about/" value="About" /> -->
  </nav>
</header>