---
// const { link, value } = Astro.props;
---

<!-- <div class="nav-links"><a href={`${link}`}>{value}</a></div> -->
 <div class="nav-links">
  <a href="/">Home</a>
  <a href="/about/">About</a>
 </div>
